%h1 Add New Page

.container
  .row-fluid
    = simple_form_for @page, url: book_pages_path(@book), html: {multipart: true} do |f|
      = render partial: 'pages/form', locals: { :f => f, :book => @book, :page => @page }